[Desktop Entry]
Type=Application
Name=Install Monody Linux
Comment=Install Monody Linux to your hard drive
Exec=xfce4-terminal --title "Monody Installer" -e "sudo /usr/local/bin/monody-install"
Icon=system-software-install
Terminal=false
Categories=System;
