[Desktop Entry]
Type=Application
Name=Install Monody Linux
Comment=Install Monody Linux to your hard drive
Exec=pkexec /usr/bin/monody-installer
Icon=system-software-install
Terminal=false
Categories=System;
